.header-sign-buttons-login {
  font-size: $text-size;
  color: $gray-font;
  font-style: normal;
  background: none;
  border: none;
  font-weight: 700;
  line-height: 26.743px;
}
.header-sign-buttons-sign {
  font-size: $text-size;
  color: white;
  background-color: $main-violet;
  padding: 17px 26px;
  border-radius: 17px;
  font-weight: 700;
  line-height: 26.743px;
}